In [1]:
import random as rnd
class Team:
    LUCK = 0.0
    def __init__(self, name, strength = None):
        self.name = name
        self.strength = strength if strength else rnd.uniform(0,1)
    def __str__(self):
        return self.name
    def __repr__(self):
        return self.name
    def __lt__(self, t):
        return self.strength < t.strength + rnd.gauss(0, Team.LUCK)

In [2]:
teams_data = [[("Jamshedpur", 1), ("Hyderabad", 2), ("ATKMB", 3), ("Kerala Blasters", 4), ("Mumbai City", 5), ("Bengaluru", 6), ("Odisha", 7), ("Chennayin", 8), ("Goa", 9), ("Northeast", 10), ("East Bengal", 11)]]

In [3]:
ratings = sum([[rating for _,rating in group_data] 
               for group_data in teams_data], [])
smallest = min(ratings)
largest = max(ratings)
teams = [[Team(name, 1 - (rating - smallest) / (largest - smallest))
         for name,rating in group_data] for group_data in teams_data]

In [4]:
after_groups = [sorted(group, reverse=True) for group in teams]

#### Ranking after group stage

In [5]:
after_groups

[[Jamshedpur,
  Hyderabad,
  ATKMB,
  Kerala Blasters,
  Mumbai City,
  Bengaluru,
  Odisha,
  Chennayin,
  East Bengal,
  Goa,
  Northeast]]

In [6]:
winners = sum([g[:4] for g in after_groups], [])

#### Teams qualified for semis

In [7]:
winners

[Jamshedpur, Hyderabad, ATKMB, Kerala Blasters]

In [8]:
pairs4 = zip(winners[::2], winners[1::2])

In [9]:
teams2 = [sorted(g, reverse=True) for g in pairs4]
first, second = sorted([teams2[0][0], teams2[1][0]], reverse=True)
third, fourth= sorted([teams2[0][1], teams2[1][1]], reverse=True)

#### Semi finals

In [10]:
teams2

[[Jamshedpur, Hyderabad], [ATKMB, Kerala Blasters]]

#### Results

In [11]:
print("Fourth place is",fourth)
print("Third place is", third)
print("Second place is", second)

Fourth place is Kerala Blasters
Third place is Hyderabad
Second place is ATKMB

#### Hero ISL champions are

In [12]:
first

Jamshedpur